.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

## Generated java
src/generated
.swagger-codegen
.swagger-codegen-ignore
*.DS_Store
pom.xml
out/

### Windows ###
.DS_Store
